.body {
    /* font-family: Arial, sans-serif; */
    font-family: Lucida Console, monospace;
}

.navbar{
    font-family: Lucida Console, monospace;
    font-weight: bold;
}
.main-subtitle {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
    font-family: Lucida Console, monospace;
}

.main-title {
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
    font-family: Lucida Console, monospace;
    font-weight: bold;
}

.main-content {
    /* display: flex; */
    text-align: center;
}

.tiles {
    display: flex;
}

.left-pannel .right-pannel{
    text-align: center;
}

.img-tile {
    width: 100%;
    height: auto;
}

.main-card {
    margin-top: 5%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.card-body {
    text-align: center;
    display: flex;
}

.card-img-top{
    width: 60%;
    height: auto;
}

.card_title {
    font-size: 2em;
    text-align: center;
    font-family: Lucida Console, monospace;
}
.img-fluid {
    width: 60%;
    height: auto;
    /* margin-right: 0%; */
}

.card {
    margin-top: font;
    text-align: center;
    padding-top: 3%;
}

.btn-div {
    margin-bottom: 2%;
}

.main-spectra{
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.spectra-imgs{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.spectra-img {
    width: 49%;
    height: auto;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
}

.btn-txt {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background: #3f79ca;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    font-family: Lucida Console, monospace;
}

.btn-txt:hover {
    align-items: center;
    justify-content: center;
    background: #2f5a95;
  }

.card-body {
    text-align: center;
    display: flex;
}